* {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://brainrus.ru/frutonyanyan/images/sky.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://brainrus.ru/frutonyanyan/stars/stars00.png");
  background-size: cover;
  background-position-y: -70px;
  top: 0;
  left: 0;
}

#playBtn {
  display: none;
}

#backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.layer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#record {
  justify-content: flex-start;
}

.layer h1 {
  color: white;
  font-family: "SansRoundedC";
  font-weight: normal;
  margin: 70px 0 20px 0;
  text-align: center;
  line-height: 1;
}

@media screen and (min-height: 630px) {
  .layer h1 {
    color: white;
    font-family: "SansRoundedC";
    font-weight: normal;
    margin: 50px 0 50px 0;
    text-align: center;
    line-height: 1;
  }
}

#record h1 {
  margin-top: 20vh;
}

#pickMusic h1 {
  margin: 50px 0 120px 0;
}

#pickStory img:nth-child(3),
#pickMusic img:nth-child(3) {
  margin-top: 10px;
}

#pickMusic img:nth-child(3) {
  margin-top: -10px;
}

#reader {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16vh;
  display: none;
}

#reader img {
  top: 0;
  left: 0;
  width: 100%;
}

#text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-family: "SansRoundedC";
  font-size: 21px;
  color: #007ac5;
  width: 80%;
  line-height: 1;
}

#left {
  position: absolute;
  bottom: -5%;
  left: 15%;
}

#right {
  position: absolute;
  bottom: -5%;
  right: 15%;
}

#finish {
  margin-top: auto;
  margin-bottom: 20px;
  display: none;
}

#recordFinish h1,
#share h1 {
  margin-bottom: auto;
  margin-top: 20vh;
}

#share h1 {
  margin-top: 30vh;
}

#share h1:first-letter {
  letter-spacing: -2px;
}

#saveBtn {
  margin-top: auto;
  margin-bottom: 20px;
}

#shareBtns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#shareBtns img {
  width: 60px;
  margin: 0 10px;
}

.stageRecord,
.stageListen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#owlFig {
  position: absolute;
  left: 10px;
  top: 43%;
}

#owlFig * {
  position: absolute;
}

#textBubble img {
  position: absolute;
  top: 0;
  left: 0;
}

#textBubble {
  position: absolute;
  top: 17%;
  left: 5%;
}

#textBubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 220px;
}
#textBubble span {
  position: relative;
  text-align: center;
  font-family: "SansRoundedC";
  font-size: 21px;
  color: #007ac5;
  width: 80%;
  line-height: 1;
  margin-bottom: 20px;
}

#pickStory img {
  width: 55%;
}

#pickStory h1 {
  margin-bottom: 10px;
  margin-top: 90px;
}

#saveBtn {
  font-family: "SansRoundedC";
  font-size: 24px;
  color: white;
}
